h1{
font-size: 30px;
text-align: center;
color: #de7471;
margin: 1.5em;
}

p{
font-size: 19px;
text-align: left;
font-family: Gill Sans, sans-serif;
margin: 4em 3em 3em;
}

body {
background: linear-gradient(to bottom right, slategray 55%, salmon 45%);
}
